.boat img{
	width:100px; 
	position: relative;
  	animation:mymove 4s infinite;

}
@keyframes mymove {
  	0%   {
  	  left:0px; 
  	  top:0px;
  	}
  	25%  {
  		left:200px; 
  		top:0px;
  	}
  	50%   {
  	  left:200px; 
  	  top:0px;
  	}
  	100%  {
  		left:0px; 
  		top:0px;
  	}
}
